@page "/counter"
@using DaisyMudLanding.Client.Components
@rendermode InteractiveWebAssembly

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount;

    private void IncrementCount()
    {
        currentCount++;
    }

}


<p>
    <DebouncedServerInput class="input input-primary" placeholder="haha"
                          @bind-Value="InputValue2"/>
</p>

<p>
    Input Value2: @InputValue2
</p>


@code {
    private string InputValue2 = "4321";

}