@page "/tryclient"
@rendermode InteractiveWebAssembly

<h1 class="text-accent">InteractiveWebAssembly</h1>

<h1>DebouncedServerInput Test</h1>
<p>
    <DebouncedServerInput class="input input-primary" placeholder="DebouncedServerInput"
                          @bind-Value="ServerInputValue"/>
</p>

<p>
    Server Input Value: @ServerInputValue
</p>

<hr/>

<h1>DebouncedClientInput Test</h1>
<p>
    <DebouncedClientInput class="input input-primary" placeholder="DebouncedClientInput"
                          @bind-Value="ClientInputValue"/>
</p>
<p>
    Client Input Value: @ClientInputValue
</p>


@code {
    private string ServerInputValue = "1234";
    private string ClientInputValue = "4321";
}