@using DaisyMudLanding.Components.Libs.Svg
<nav class="navbar px-6 py-2 bg-base-200 w-full lg:hidden">
    <div class="navbar-start">
        <label for="drawer-toggler" class="btn btn-circle"><LiMenu /></label>
    </div>

    <div class="navbar-center">
        <div class="w-[40px]"><MudBlazor /></div>
        <div class="tracking-[0.2rem] font-normal ms-3 text-2xl text-primary">
            MudBlazor
        </div>
    </div>

    <div class="navbar-end">
        <SearchButton />
    </div>
</nav>
