<dialog
    @ref="searchDialog"
    class="modal modal-top scroll-0 [scrollbar-gutter:stable_both-edges]">
    <div class="modal-box max-w-md mx-auto">
        <label class="input input-primary input-lg w-full">
            <LiSearch/>
            <DebouncedServerInput
                type="search"
                required
                placeholder="Search"
                @ref="searchInput"
                ValueChanged="OnValueChanged"
            />
        </label>
        <div class="max-h-79 overflow-y-scroll list">
            @if (foundItems is null)
            {
                //print a skeleton
                <a class="list-row hover:bg-base-200 skeleton text-transparent">
                    <div class="landing-text-small skeleton">Lorem</div>
                    <div class="landing-text-c50 list-col-wrap text-xs skeleton text-transparent">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </div>
                </a>
            }
            else
            {
                @foreach (var item in foundItems)
                {
                    <a href="@item.Url" class="list-row hover:bg-base-200">
                        <div class="landing-text-small">@item.Title</div>
                        <div class="landing-text-c50 list-col-wrap text-xs">
                            @item.Description
                        </div>
                    </a>
                }
            }
        </div>
        <div class="opacity-20 text-xs mt-2 float-end">
            Press ESC key or click outside to close
        </div>
    </div>
    <form method="dialog" class="modal-backdrop">
        <button></button>
    </form>
</dialog>

@implements IAsyncDisposable
@inject IJSRuntime JS
@inject SearchService SearchService

@code
{
    private IJSObjectReference? jsModule;
    private ElementReference? searchDialog;
    private DebouncedServerInput? searchInput;
    private FoundItem[]? foundItems;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            jsModule = await JS.InvokeAsync<IJSObjectReference>("import",
                $"./Components/Libs/{nameof(SearchDialog)}.razor.js");
        }
    }

    public async Task ShowModalAsync(string? elementToFocusId = null)
    {
        if (searchDialog is not null)
        {
            await jsModule.InvokeVoidAsync("showModal", searchDialog);
        }

        await jsModule.InvokeVoidAsync("focus", searchInput.InputElement, 500);
    }

    public async ValueTask DisposeAsync()
    {
        if (jsModule is not null)
        {
            try
            {
                await jsModule.DisposeAsync();
            }
            catch (JSDisconnectedException ex)
            {
                Console.Error.WriteLine(ex);
            }
        }
    }

    private async Task OnValueChanged(string arg)
    {
        foundItems = await SearchService.QuerySearchResultFromDatabase(arg, default);
    }
}
