---
import Layout from '../layouts/Layout.astro';
import { Menu, Search } from '@lucide/astro';
import Logo from '../assets/mudblazor.svg';
import GithubLogo from '../assets/github-mark.svg';
import CodesIcon from '../assets/codes-icon.svg';
import BoxIcon from '../assets/box-icon.svg';
import CodeSample from '../components/CodeSample.md';
import CardSample from '../components/CardSample.astro';
import WorldMap from '../components/WorldMap.astro';
import Stats from '../components/Stats.astro';
import Community from '../components/Community.astro';
import Splitter21 from '../components/Splitter21.astro';
import Splitter12 from '../components/Splitter12.astro';
import SkewBand from '../components/SkewBand.astro';
import Sponsors from '../components/Sponsors.astro';
import GetStarted from '../components/GetStarted.astro';
---

<Layout>
    <nav class='flex justify-between items-center px-6 py-4 bg-base-200'>
        <Menu />
        <div class='flex'>
            <div class='w-[40px]'><Logo /></div>
            <div
                class='tracking-[0.2rem] font-normal ms-3 text-2xl text-primary'>
                MudBlazor
            </div>
        </div>
        <Search />
    </nav>

    <!-- start hero section with darker background -->
    <section class='bg-base-200'>
        <!-- hero section -->
        <div class='pt-4 mx-6'>
            <div class='text-[clamp(2rem,8vw,4rem)] font-bold mt-20'>
                <h1>The Blazor</h1>
                <span
                    class='bg-[linear-gradient(82deg,rgb(89,74,226)_0%,rgb(255,102,153)_100%)] bg-clip-text text-transparent'
                    >Component</span
                >
                Library
                <h1>You always wanted</h1>
            </div>
            <p class='my-8 landing-text landing-text-c50'>
                With millions of downloads, from hobby developers to large
                enterprises, MudBlazor enables you to rapidly build amazing web
                applications without leaving your beloved C# language and
                toolchain.
            </p>
            <div>
                <button class='btn btn-primary text-[clamp(0.75rem,4vw,1rem)]'
                    >Get started</button
                >
                <button
                    class='btn btn-outline mx-3 text-[clamp(0.50rem,4vw,1rem)]'
                    ><div><GithubLogo width='20px' class='fill-current' /></div>
                    Star on GitHub</button
                >
            </div>
        </div>
        <!-- end hero section -->

        <SkewBand />

        <!-- start sponsor section with darker background -->
        <div class='mx-6 pb-30'>
            <Sponsors />
        </div>
    </section>
    <!-- end darker background -->

    <!-- start testimonials section group with default background -->
    <section class='pt-30 pb-10 mx-6'>
        <div class='flex flex-col gap-5 mx-auto max-w-5xl'>
            <div class='text-primary font-bold'>Unified platform</div>
            <div class='text-2xl font-bold'>
                MudBlazor is more than a library
            </div>
            <div class='flex flex-col gap-8 md:flex-row'>
                <div class='landing-text landing-text-c50 md:flex-1'>
                    We bring together everything that's required to build
                    amazing Blazor applications that scale from desktop to
                    mobile. Apart from the library itself we also provide
                    templates, a learning platform, theme manager, demo and
                    example projects as well as an online code editor integrated
                    withcode-sample our documentation and issue tracking. With
                    more to come.
                </div>
                <div class='landing-text landing-text-c50 md:flex-1'>
                    We help companies build amazing apps in record time and let
                    them focus on their business instead of buttons, MudBlazor
                    is battle-tested and one of the fastest-improving platforms,
                    and much more.
                </div>
            </div>
        </div>
        <div class='my-20 text-[clamp(1rem,6vw,3rem)] text-center'>
            “Never had such a good time making a site“
        </div>

        <!-- testimonials -->
        <section>
            <div class='bg-base-300 rounded p-6'>testimonial cards..</div>
        </section>
    </section>

    <!-- 12-deg skewed horizontal splitter -->
    <!-- 10.628% is half the height of this skewed splitter = tan(12deg)/2 -->
    <div
        class='bg-[linear-gradient(-12deg,var(--color-base-200)_50%,var(--color-base-100)_50%)] py-[10.628%]'>
    </div>

    <!-- start code-sample section group with darker background -->
    <section class='bg-base-200 py-30'>
        <div class='flex gap-5 flex-row flex-wrap mx-auto max-w-7xl'>
            <div class='flex-1 min-w-sm mx-6'>
                <div class='flex flex-col gap-5'>
                    <div class='text-primary font-bold'>
                        Designed for developers
                    </div>
                    <div class='text-2xl font-bold'>
                        Developers love to work with MudBlazor
                    </div>
                    <div class='landing-text landing-text-c50'>
                        We started MudBlazor with a simple promise, to empower
                        the developer and fully take advantage of what Blazor
                        offers. With MudBlazor you can create exceptional apps
                        without the burden of mastering HTML, CSS and JS and
                        focus your skillset on C#.
                    </div>
                </div>
                <div
                    class='flex flex-col gap-8 md:flex-row mt-10 landing-text-small'>
                    <div class='md:flex-1 flex flex-col gap-5'>
                        <div>
                            <CodesIcon
                                class='fill-current'
                                width='36'
                                height='36'
                            />
                        </div>
                        <h3>TryMudBlazor</h3>
                        <div class='landing-text-c50'>
                            Use the full power of Blazor directly in your
                            browser with TryMudBlazor.<br />
                            Fully-fledged editor with IntelliSense, multiple files
                            and ability to save your code.
                        </div>
                        <div class='link link-primary'>Test online</div>
                    </div>
                    <div class='md:flex-1 flex flex-col gap-5'>
                        <div>
                            <BoxIcon
                                class='fill-current'
                                width='36'
                                height='36'
                            />
                        </div>
                        <h3>Templates</h3>
                        <div class='landing-text-c50'>
                            We provide all the default Blazor templates but pre
                            configured with MudBlazor to help you get started
                            faster.
                        </div>
                        <div class='link link-primary'>Explore templates</div>
                    </div>
                </div>
            </div>
            <div class='flex-1 min-w-sm mx-6'>
                <!-- code sample -->
                <div class='bg-[#24292e] w-full p-5 rounded'>
                    <CodeSample />
                </div>
                <!-- card -->
                <div class='bg-base-100 w-96 shadow-sm ml-[64px] mt-[-48px]'>
                    <CardSample />
                </div>
            </div>
        </div>
    </section>

    <Splitter12 />

    <!-- start community section group with default background -->
    <section class='py-30'>
        <Community />
    </section>

    <Splitter21 />

    <!--Start  WorldMap and Stats section in darker background -->
    <section class='py-30 bg-base-200'>
        <div class='grid grid-cols-2 mx-6 gap-5'>
            <div class='col-span-2 md:col-span-1'>
                <div class='flex flex-col gap-5'>
                    <div class='text-primary font-bold'>Global scale</div>
                    <div class='text-2xl font-bold'>
                        MudBlazor is growing quickly
                    </div>
                    <div class='landing-text landing-text-c50'>
                        We are growing every day, developers from all over the
                        world are using MudBlazor and are engaged with the
                        community. We are dedicated to improving every aspect of
                        MudBlazor to be your number one choice when looking for
                        a Blazor component library. Join us and be part of the
                        library’s success!
                    </div>
                </div>
            </div>
            <div
                class='row-start-3 col-start-1 col-span-2 md:row-start-1 md:col-start-2 md:col-span-1 overflow-clip'>
                <WorldMap />
            </div>
            <div class='row-start-2 col-start-1 col-span-2'>
                <Stats />
            </div>
        </div>
    </section>

    <!-- Get Started section -->
    <section class='py-30 bg-base-100 mx-6'>
        <GetStarted />
    </section>

    <Splitter21 />

    <section class='py-30 bg-base-200'></section>
</Layout>
