---
import MockupPhone from '../components/MockupPhone.astro';
import MockupTablet from '../components/MockupTablet.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <div class='flex flex-row flex-wrap gap-10 p-20'>
        <div>
            <MockupPhone />
        </div>
        <div>
            <MockupTablet />
        </div>
    </div>
</Layout>
