---
import ShowMore from '../components/ShowMore.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <ShowMore>
        <div class='h-[70rem] bg-accent'></div>
    </ShowMore>
</Layout>
