@page "/try"
@using DaisyMudLanding.Client.Components
@rendermode InteractiveAuto

<p>
    <DebouncedInput class="input input-primary" placeholder="haha"
                    @bind-Value="InputValue2"/>
</p>

<p>
    Input Value2: @InputValue2
</p>


@code {
    private string InputValue2 = "4321";

}