---
import DrawerContent from '../components/DrawerContent.astro';
import NavBar from '../components/NavBar.astro';
import Layout from './Layout.astro';
---

<Layout>
    <div class='drawer'>
        <input id='drawer-toggler' type='checkbox' class='drawer-toggle' />
        <div class='drawer-content'>
            <!-- Navbar -->
            <NavBar />

            <!-- Page content here -->
            <slot />
        </div>
        <div class='drawer-side'>
            <label
                for='drawer-toggler'
                aria-label='close sidebar'
                class='drawer-overlay'></label>
            <DrawerContent />
        </div>
    </div>
</Layout>
