<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/highlight.js@11.11.1/styles/github-dark.css"
/>

<pre
    id="mudcodesample"
    class="w-full bg-[#0d1117] text-[#c9d1d9] overflow-auto"><code class="text-sm" />
    <code class="text-sm"><span class="hljs-tag">&lt;<span class="hljs-name">MudCard</span>&gt;</span>
        <span class="marker typing-animation1"><span class="hljs-tag">&lt;<span class="hljs-name">MudCardMedia</span> <span class="hljs-attr">Image</span>=<span class="hljs-string">"painted-door.jpg"</span> <span class="hljs-attr">Height</span>=<span class="hljs-string">"200"</span> /&gt;</span></span>
        <span class="hljs-tag">&lt;<span class="hljs-name">MudCardContent</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">MudText</span> <span class="hljs-attr">Typo</span>=<span class="hljs-string">"<span class="marker typing-animation2">Typo.h5</span>"</span>&gt;</span>Old Paint<span class="hljs-tag">&lt;/<span class="hljs-name">MudText</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">MudText</span> <span class="hljs-attr">Typo</span>=<span class="hljs-string">"Typo.body2"</span>&gt;</span>Old paint found on a stone house door.<span class="hljs-tag">&lt;/<span class="hljs-name">MudText</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">MudText</span> <span class="hljs-attr">Typo</span>=<span class="hljs-string">"Typo.body2"</span>&gt;</span>This photo was taken in a small village in Istra Croatia.<span class="hljs-tag">&lt;/<span class="hljs-name">MudText</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-name">MudCardContent</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">MudCardActions</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">MudButton</span> <span class="hljs-attr">Variant</span>=<span class="hljs-string">"Variant.Text"</span> <span class="hljs-attr">Color</span>=<span class="hljs-string">"Color.Primary"</span>&gt;</span>Share<span class="hljs-tag">&lt;/<span class="hljs-name">MudButton</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">MudButton</span> <span class="hljs-attr">Variant</span>=<span class="hljs-string">"Variant.Text"</span> <span class="hljs-attr">Color</span>=<span class="hljs-string">"Color.Primary"</span>&gt;</span>Learn More<span class="hljs-tag">&lt;/<span class="hljs-name">MudButton</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-name">MudCardActions</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">MudCard</span>&gt;</span></code>
</pre>