<div class="mockup-phone border-1 border-primary
            shadow-primary/50 shadow-2xl bg-base-300/90">
    <div class="mockup-phone-display w-[280px] h-[576px] py-10">
        <SampleAppScaled />
    </div>
</div>