---
import Twitter from '../assets/twitter.svg';
import Discord from '../assets/discord.svg';
import Stackoverflow from '../assets/stackoverflow.svg';
import GithubLogo from '../assets/github-mark.svg';
---

<div class='flex-1 min-w-sm mx-6'>
    <div class='flex flex-col gap-5'>
        <div class='text-primary font-bold'>Community</div>
        <div class='text-2xl font-bold'>Join our community</div>
        <div class='landing-text landing-text-c50'>
            Do you have questions? Do you want to help others? Just talk or get
            news? Join one of our channels and become part of the MudBlazor
            community.
        </div>
    </div>
    <div
        class='flex flex-col gap-8 flex-wrap md:flex-row mbs-10 landing-text-small'>
        <div class='md:flex-1 flex flex-col gap-2 min-w-[20rem]'>
            <div>
                <Twitter class='fill-current' width='36' height='36' />
            </div>
            <h3>Twitter</h3>
            <div class='landing-text-c50'>
                For announcements, blog posts, and general MudBlazor stuff.
            </div>
            <div class='link link-primary'>Follow us</div>
        </div>
        <div class='md:flex-1 flex flex-col gap-2 min-w-[20rem]'>
            <div>
                <GithubLogo class='fill-current' width='36' height='36' />
            </div>
            <h3>Discord</h3>
            <div class='landing-text-c50'>
                To get involved in the community, ask questions, help others or
                just talk.
            </div>
            <div class='link link-primary'>Come and chat</div>
        </div>
        <div class='md:flex-1 flex flex-col gap-2 min-w-[20rem]'>
            <div>
                <Discord class='fill-current' width='36' height='36' />
            </div>
            <h3>GitHub</h3>
            <div class='landing-text-c50'>
                To file issues, request features, and contribute, check out our
                GitHub.
            </div>
            <div class='link link-primary'>Check the code</div>
        </div>
        <div class='md:flex-1 flex flex-col gap-2 min-w-[20rem]'>
            <div>
                <Stackoverflow class='fill-current' width='36' height='36' />
            </div>
            <h3>Stack Overflow</h3>
            <div class='landing-text-c50'>
                Active on Stack Overflow? Answer or ask question's under our
                tag.
            </div>
            <div class='link link-primary'>Ask and answer questions</div>
        </div>
    </div>
</div>
