---
import { ArrowRightLeft } from '@lucide/astro';
---

<button id='dir-switcher'>
    <ArrowRightLeft />
</button>
<script>
    document.getElementById('dir-switcher')?.addEventListener('click', () => {
        document.dir = document.dir === 'rtl' ? 'ltr' : 'rtl';
        console.log('foo');
    });
</script>
