---
import { X } from '@lucide/astro';
import DirSwitcher from './DirSwitcher.astro';
import ThemeSwitcher from './ThemeSwitcher.astro';
import NotificationBell from './NotificationBell.astro';
---

<div class='bg-base-100 h-full'>
    <div class='menu menu-horizontal bg-base-200 gap-5 items-baseline px-6'>
        <div class='tooltip tooltip-bottom' data-tip='Close'>
            <label for='drawer-toggler'>
                <X />
            </label>
        </div>
        <div class='flex-1'></div>
        <NotificationBell />
        <div class='tooltip tooltip-bottom' data-tip='Switch Text direction'>
            <DirSwitcher />
        </div>
        <div class='tooltip tooltip-bottom' data-tip='Switch Dark/Light theme'>
            <ThemeSwitcher />
        </div>
    </div>
    <ul class='menu px-6 pt-6'>
        <li><a>Get Started</a></li>
        <li><a>Docs</a></li>
        <li><a>Learn More</a></li>
        <li>
            <details open>
                <summary>Projects</summary>
                <ul>
                    <li><a>Submenu 1</a></li>
                    <li><a>Submenu 2</a></li>
                </ul>
            </details>
        </li>
    </ul>
</div>
