---
import SampleAppScaled from './SampleAppScaled.astro';
---

<div
    class='mockup-window bg-base-300 border-primary border-6 shadow-2xl shadow-black'>
    <div class='w-[975px] h-[650px]'>
        <SampleAppScaled />
    </div>
</div>
