---
import SampleAppScaled from './SampleAppScaled.astro';
---

<div
    class='mockup-window bg-base-300/90 border-1 border-primary
            shadow-primary/50 shadow-2xl'>
    <div class='w-[975px] h-[650px]'>
        <SampleAppScaled />
    </div>
</div>
