---
import MockupApp from './MockupApp.astro';
---

<div class='mockup-phone border-primary shadow-2xl'>
    <div class='mockup-phone-camera'></div>
    <div
        class='mockup-phone-display h-[576px] w-[280px] scale-50 origin-top-left'>
        <MockupApp />
    </div>
</div>
