<!-- skew band decoration in primary color and darker background --><!-- 10.628% is half the height of the skew = tan(12deg)/2 -->
<div class='py-[10.628%]'>
    <div class='skew-y-[-12deg] rtl:skew-y-[12deg] w-full h-[200px] bg-primary'>
    </div>
</div>
