<div class='mx-6'>
    <p class='landing-text landing-text-c50 text-center my-20'>
        The continued development and maintenance of MudBlazor is secured by our
        sponsors
    </p>

    <div class='flex gap-20 flex-row flex-wrap justify-center'>
        <img src='./assets/Adaris.png' />
        <img src='./assets/Balesio.png' />
        <img src='./assets/Blackhawk.png' />
        <img src='./assets/Lithe.png' />
        <img src='./assets/Timewarp.png' />
        <img src='./assets/JetBrains.png' />
    </div>

    <div class='landing-text landing-text-c50 text-center mt-20'>
        Become our sponsors
    </div>
</div>
