---
import DownloadIcon from '../assets/download-color.svg';
import GithubIcon from '../assets/github-color.svg';
import ContributorIcon from '../assets/contributor-color.svg';
import DiscordIcon from '../assets/discord-color.svg';
---

<div class='grid grid-cols-2 md:grid-cols-4 gap-5'>
    <div>
        <div class='text-5xl text-primary my-4'>16.6M</div>
        <div><DownloadIcon class='mr-2 w-6 inline' />Downloads</div>
    </div>
    <div>
        <div class='text-5xl text-primary my-4'>9.2k</div>
        <div><GithubIcon class='mr-2 w-6 inline' />Github Stars</div>
    </div>
    <div>
        <div class='text-5xl text-primary my-4'>451</div>
        <div><ContributorIcon class='mr-2 w-6 inline' />Contributors</div>
    </div>
    <div>
        <div class='text-5xl text-primary my-4'>5.1k</div>
        <div><DiscordIcon class='mr-2 w-6 inline' />Discord Members</div>
    </div>
</div>
