---
import ShowMore from './ShowMore.astro';
import TestimonialCard from './TestimonialCard.astro';
---

<ShowMore>
    <div class='flex flex-row flex-wrap justify-around gap-5'>
        <TestimonialCard person='Brian' company='EvoDynamic'>
            Coming of an Angular project back to .NET, Blazor was the ideal
            choice and MudBlazor was the icing on the cake. . . not "mud" but a
            rich creamy sweet chocolate. Developer
        </TestimonialCard>
        <TestimonialCard person='Developer Team' company='Wunderminds'>
            Saving us from tons of tiny details and allowing us to deliver sharp
            looking modern web applications, MudBlazor is the king of open
            source UI frameworks that no one should miss when building apps with
            Blazor!
        </TestimonialCard>
        <TestimonialCard company='Wave Master'>
            Comprehensive, ambitious, fresh and clean. Some really cool
            implementations. The development and improvement of components is
            really fast, and if a course correction is needed, they will do it.
            Garderoben, henon and all the other contributors are approachable.
            They are getting stuff done!
        </TestimonialCard>
        <TestimonialCard person='Karakoulak Spyridon' company='Arhs Group'>
            Best open source component library for Blazor out there and easy to
            understand!
        </TestimonialCard>
        <TestimonialCard
            person='Hayden Ravenscroft'
            company='Mail Solutions UK Ltd'>
            A comprehensive library. Takes the hassle out of designing for
            Blazor. Used in many ongoing projects at the Mail Solutions Group.
            The MudBlazor team has a real gem here.
        </TestimonialCard>
        <TestimonialCard person='Frederik' company='Xuntar'>
            Very practical, convenient and user-friendly library that has
            massively helped us in developing our applications. Great community
            as well!
        </TestimonialCard>
    </div>
</ShowMore>
