---
import Testimonials from '../components/Testimonials.astro';
---

<div class='flex flex-col gap-5 mx-6'>
    <div class='text-primary font-bold'>Unified platform</div>
    <div class='text-2xl font-bold'>MudBlazor is more than a library</div>
    <div class='flex flex-col gap-8 md:flex-row'>
        <div class='landing-text landing-text-c50 md:flex-1'>
            We bring together everything that's required to build amazing Blazor
            applications that scale from desktop to mobile. Apart from the
            library itself we also provide templates, a learning platform, theme
            manager, demo and example projects as well as an online code editor
            integrated withcode-sample our documentation and issue tracking.
            With more to come.
        </div>
        <div class='landing-text landing-text-c50 md:flex-1'>
            We help companies build amazing apps in record time and let them
            focus on their business instead of buttons, MudBlazor is
            battle-tested and one of the fastest-improving platforms, and much
            more.
        </div>
    </div>
</div>
<div class='my-20 text-[clamp(1rem,6vw,3rem)] text-center mx-6'>
    “Never had such a good time making a site“
</div>

<!-- testimonials -->
<section class='mx-6'>
    <Testimonials />
</section>
